<div class="container mt-5">
    <h2>Add Product</h2>
    <form method="POST" action="/grace/add-product">
      <div class="form-group">
        <label for="exampleInputName">Product Name</label>
        <input type="text" name="name" class="form-control" id="exampleInputName" placeholder="Enter product Name">
      </div>
  
      <div class="form-group">
        <label for="exampleInputName">Product Type</label>
        <input type="text" name="type" class="form-control" id="exampleInputName" placeholder="Select Product Type">
      </div>
  
      <div class="form-group">
        <label for="exampleInputName">Quantity</label>
        <input type="number" name="qty" class="form-control" id="exampleInputName" placeholder="Enter Quantity">
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  